users index

<div class="d-flex justify-content-center mb-2">
          <%= render "layouts/search" %>
        </div>

<div class = "container px-5 px sm-0">
  <div class = "row">
    <div class = "col-md-3">
      <%= form_with model: Book.new do |f| %>
      <h2>User info</h2>
       <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, size: "100x100" %>
      <% else %>
        <%= image_tag 'no_image', size: "100x100" %>
      <% end %>
      <table class = "table">
      <tbody>
        <tr>
          <th>name</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= @user.introduction %></th>
        </tr>
        <tr>
          <th>followes</th>
          <th><%= @user.followings.count %></th>
        </tr>
        <tr>
          <th>followers</th>
          <th><%= @user.followers.count %></th>
        </tr>
      </tbody>
      </table>
      <div class = "row">
        <%= link_to edit_user_path(current_user.id), class: "btn btn-outline-secondary btn-block" do %>
        <i class="fa-solid fa-user-gear"></i>
        <% end %>
      </div>
      <h2 class = "mt-3">New book</h2>
      <form action = "/books" accept-charset = "UTF-8" method = "post" >
      <div class = "form-group">
        <label for = "book_title">Title</label>
       <p><%= f.text_field :title %></p>
      </div>
      <div class = "form-group">
        <label for = "book_opinion">Opinion</label>
        <%= f.text_area :body %>
      </div>
      <div class = "form-group">
        <%= f.submit 'Create Book', class: "btn btn-success"  %>
      </div>
        <% end %>
      </form>
    </div>

    <div class = "col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class = "table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>image</th>
            <th>name</th>
            <th colspan = "3"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |users| %>
          <tr>
            <td></td>
            <td>
              <% if users.profile_image.attached? %>
                <%= image_tag users.profile_image, size: "100x100" %>
              <% else %>
                <%= image_tag 'no_image', size: "100x100" %>
              <% end %>
            </td>
            <td><%= users.name %></td>
            <td>フォロー数 <%= users.followings.count %></td>
            <td>フォローワー数 <%= users.followers.count %></td>
            <td>
              <% if current_user.following?(users) %>
              <%= link_to "フォロー外す", user_relationships_path(users.id), method: :delete %>
              <% else %>
              <%= link_to "フォローする", user_relationships_path(users.id), method: :post %>
              <% end %>
            </td>
            <td><%= link_to "Show", user_path(users.id) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
