Books Show

<div>
  <%= flash[:notice] %>
</div>

<div class="d-flex justify-content-center mb-2">
          <%= render "layouts/search" %>
        </div>

<div class = "container px-5 px sm-0">
  <div class = "row">

    <%= render "books",book: @book_new , user: @book.user %>

    <div class = "col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class = "table table-hover table-inverse">
        <thead>
        </thead>
        <tbody>

          <tr>
            <td>
              <%= link_to user_path(@book.user.id) do %>
              <% if @book.user.profile_image.attached? %>
              <%= image_tag @book.user.profile_image, size: "100x100" %>
                <% else %>
              <%= image_tag 'no_image', size: "100x100" %>
             <% end %>
             <p><%= link_to @book.user.name , user_path(@book.user.id) %></p>
             <% end %>
            </td>
            <td>
              <%= link_to book_path(@book.id) do %>
              <%=  @book.title %>
              <% end %>
            </td>
            <td>
              <%= @book.body %>
            </td>
            <td>
              <% if @book.user == current_user %>
              <%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success " %>
              <% end %>
            </td>
            <td>
              <% if @book.user == current_user %>
              <%= link_to "Destroy", book_path(@book.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-danger " %>
              <% end %>
            </td>
            <td id="favorite_btn_<%= @book.id %>">
              <%= render "favorites/btn", book: @book %>
            </td>
            <td id="comment_counter">
              <%= render "book_comments/counter", book: @book %>
            </td>
            <td>
              閲覧数: <%= @book.read_counts.count %>
            </td>
          </tr>
        </tbody>
      </table>
      
       <div id="comment_index">
         <%= render "book_comments/index", book: @book %>
       </div>

        <%= render "book_comments/form", book: @book, book_comment: @book_comment %>



    </div>
  </div>
</div>
